<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Your Timelines</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    
	 <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      
	</head>

	<body>
	  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="timelines.html"><i class="icon-th-list icon-white"></i> Your Timelines</a></li>
            <li><a data-toggle="modal" href="#createTimeline"><i class="icon-plus icon-white"></i> New Timeline</a></li>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown">
                    <i class="icon-user icon-white"></i> You
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-cog"></i> Account</a></li>
                <li><a href="#"><i class="icon-shopping-cart"></i> Billing</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-off"></i> Log out</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="container">
    <div class="row">
      <div class="span9">
        <h1>Your Timelines</h1>
      </div>
      <div class="span3">
        <a data-toggle="modal" class="btn btn-primary pull-right" href="#createTimeline"><i class="icon-plus icon-white"></i> Create new timeline</a>
      </div>
    </div>
    
    
    <% @timelines.each do |timeline| -%>
    
    <div class="timelineListEntry row">
      <div class="span10">
        <div class="timelineDetails">
          <h2><a href="#" target="new"  class=""><%= timeline.name %></a></h2>
          <div class="description">
            <% timeline.description.split("\n\n").each do |paragraph| -%>
            <p><%= paragraph %></p>
            <% end -%>
          </div>
          <p>Public URL: <a href="#">http://timelineapp.com/234322</a></p>
          <ul class="timelineStats">
             <li><span class="label">10 Entries</span></li>
             <li><span class="label">120 Views</span></li>
          </ul>
        </div>
      </div>
      <div class="span2">
       <ul class="nav nav-list">
        <li><a href="timelineview.html" target="new" class=""><i class="icon-eye-open"></i> View</a></li>
        <li>
          <%= link_to edit_timeline_path(timeline) do %>
          <i class="icon-pencil"></i> Edit</a></li>
          <% end %>
        </li>
        <li><a href="#delete" class=""><i class="icon-trash"></i> Delete</a></li>
        <li><a href="#share" class=""><i class="icon-share"></i> Share</a></li>
       </ul>
      </div>  
    </div>
    
    <% end -%>
    
    
    <div class="row">
      <div class="span12">
        <a data-toggle="modal" class="btn btn-primary btn-large" href="#createTimeline"><i class="icon-plus icon-white"></i> Create new timeline</a>
      </div>
    </div>
    
    
  </div>
		

		
	<div class="modal hide fade" id="createTimeline">
	  <div class="modal-header">
	    <h3>Setup a new timeline</h3>
	  </div>
    <%= form_for @timeline, html: { class: 'form-horizontal' } do |f| %>
  	  <div class="modal-body">
        <fieldset>
          <div class="control-group">
            <%= f.label :name, 'Timeline Name', class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, class: 'input-xlarge' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :description, class: 'control-label' %>
            <div class="controls">
              <%= f.text_area :description, class: 'input-xlarge', rows: 5 %>
              <p class="help-block">You can always edit this later</p>
            </div>
          </div>
        </fieldset>
  	  </div>
  	  <div class="modal-footer">
  	    <button class="btn" data-dismiss="modal"><i class="icon-remove"></i> Cancel</button>
  	    <button class="btn btn-success" type="submit">Proceed <i class="icon-arrow-right icon-white"></i></button>
  	  </div>
    <% end %>
	</div>
		
		
	</body>
</html>
